<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

        <head th:replace="plantilla/plantilla::head"></head>
        <body>
            <header th:replace="plantilla/plantilla::header"></header>

            <!--Textos-->
            <div class="text">
                <h1>Cualquier tipo de donacion sera de gran ayuda, para poder seguir salvando vidas seran bien recibidas</h1>
                <h2>¡Muchas gracias por el apoyo!</h2>
            </div>
            <div class="Container">
                <h1 th:text="${titulo}"></h1>
                <table class="table table-dark table-striped"> <thead class="thead-dark">
                        <tr>
                            <th scope="col">Numero de tarjeta</th>
                            <th scope="col">Codigo</th>
                            <th scope="col">Monto</th>
                        </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="user : ${donacion}">
                        <tr>
                            <td th:text="${user.getNumero}"></td>
                            <td th:text="${user.getCodigo}"></td>
                            <td th:text="${user.getMonto}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>

            <footer th:replace="plantilla/plantilla::footer"></footer>
        </body>
    </html>
     
