<html>
    <head>
        <title>Contacto</title>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="css/index.css"/>
    </head>
    <body>
        <div class="container">
            <a class=" title"><h1><img src="images/Logo.png" width="50px" height="50px"></span>Adopta Un Amigo</h1></a>
            <!--<h1>Adopta un amigo</h1>-->

            <nav>

                <ul class="menu">

                    <li ><a href="index.html">Inicio</a></li>
                    <li ><a href="#">Animales en adopcion</a>
                        <ul class="submenu">
                            <li><a href="perros.html">Perros</a></li>
                            <li><a href="gatos.html">Gatos</a></li>
                        </ul>
                    </li>
                    <li ><a href="#">Servicios</a>
                        <ul class="submenu">
                            <li><a href="consejos.html">Consejos</a></li>
                            <li><a href="alimentos.html">Alimentos</a></li>
                        </ul>
                    </li>
                    <li ><a href="contacto.html">Comentarios</a></li>
                    <li ><a href="acercaDe.html">Quienes somos?</a></li>
                    <li ><a href="/donacionesN">Donaciones</a></li>
                    <li ><a href="login.html">Login</a></li>
                </ul>
            </nav>
        </div>

        <div>
            <!-- formulario de contacto en html y css -->  

            <div class="contact_form">

                <div class="formulario">      
                    <h1>Crear un comentario</h1>

                    <form th:object ="${comentario}"
                          th:action ="@{/saveC}"
                          method="POST" 
                          >
                      
                        <p>
                            <label for="nombre" class="colocar_nombre">Nombre
                                <span class="obligatorio">*</span>
                            </label>
                            <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre">
                        </p>

                        <p>
                            <label for="comentario" class="colocar_comentario">Comentario
                                <span class="obligatorio">*</span>
                            </label>                     
                            <textarea name="introducir_comentario" class="texto_mensaje" id="comentario" required="obligatorio" placeholder="Deja aquí tu comentario..."></textarea> 
                        </p>                    

                        <button type="submit" name="enviar_formulario" id="enviar"><p>Enviar</p></button>

                        <p class="aviso">
                            <span class="obligatorio"> * </span>los campos son obligatorios.
                        </p>          
                    </form>

                </div>  
            </div>
            <div class="Container">
                <h1 th:text="${titulo}"></h1>
                <table class="table table-dark table-striped"> <thead class="thead-dark">
                        <tr>
                            <th scope="col">Nombre usuario</th>
                            <th scope="col">Comentario</th>                        
                        </tr>
                    </thead>

                    <tbody>
                    <th:block th:each="user : ${comentario}">
                        <tr>
                            <td th:text="${user.getNombre}"></td>
                            <td th:text="${user.getComentario}"></td>
                        </tr>
                    </th:block>
                    </tbody>
                </table>
            </div>
        </div>

    </body>
</html>
