<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="plantilla/template::head">

    </head>
    <body>
        <header th:replace="plantilla/template::header"></header>
        <div class="descripcion" align-items="center">
            <h1>Informacion de gatos disponibles</h1>
        </div>
        <div class="container">
            <h2 th:text="${titulo}"></h2>
            <table class="table table-dark table-striped"> 
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Raza</th>
                        <th scope="col">Género</th>
                        <th scope="col">Edad</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">Editar </th>
                        <th scope="col">Eliminar </th>
                    </tr>
                </thead>
                <tbody>
                <th:block th:each="user : ${gatos}">
                    <tr>
                        <td th:text="${user.getNombre}"></td>
                        <td th:text="${user.getRaza}"></td>
                        <td th:text="${user.getGenero}"></td>
                        <td th:text="${user.getEdad}"></td>
                        <td th:text="${user.getEstado}"></td>
                        <td th:text="${user.getDescripcion}"></td>
                        <td>
                            <a th:href="@{/EditarGato/{ID}(ID=${user.getID})}">Editar</a>
                        </td>
                        <td>
                            <a th:href="@{/EliminarGato/{ID}(ID=${user.getID})}">Eliminar</a>
                        </td>
                    </tr>
                </th:block>
                </tbody>
            </table>
            <button>
                <a href="/creargatoN">Crear nuevo Gato</a>
            </button>
        </div>


        <!-- Prueba para mostar los datos de los gatos usando el CARD de bootstrap -->
        <div class="container">
            <th:block th:each="user : ${gatos}">
                <div class="row row-cols-1 row-cols-md-3 g-4 ">
                    <div class="col" style="width: 30rem; margin: 3rem 3rem 3rem 3rem;">
                        <div class="card">
                            <img src="images/gato1.png" class="card-img-top" alt="gato">
                            <div class="card-body">
                                <h3 class="card-title" th:text="${user.getNombre}"></h3>
                                <h4>Raza: <span> </h4><h5 class="text" th:text="${user.getRaza}"></h5>
                                <p class="card-text" th:text="${user.getDescripcion}"></p>
                                <a th:href="@{/EditarGato/{ID}(ID=${user.getID})}" class="btn btn-dark">Editar</a>
                                <a th:href="@{/EliminarGato/{ID}(ID=${user.getID})}" class="btn btn-dark">Adoptar</a>

                            </div>
                        </div>
                    </div>

                </div>
            </th:block>

        </div>

    </body>
</html>
