<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Adopcion de Mascotas</title>
        <link rel="stylesheet" href="css/index.css"/>
    </head>
    <body>
        <div class="container">
            <a class=" title"><h1><img src="images/logopata.png" width="50px" height="50px"></span>Peludos</h1></a>
            <!--<h1>Peludos</h1>-->

            <nav>

                <ul class="menu">

                    <li ><a href="index.html">Inicio</a></li>
                    <li ><a href="#">Animales en adopcion</a>
                        <ul class="submenu">
                            <li><a href="perros.html">Perros</a></li>
                            <li><a href="gatos.html">Gatos</a></li>
                        </ul>
                    </li>
                    <li ><a href="#">Servicios</a>
                        <ul class="submenu">
                            <li><a href="consejos.html">Consejos</a></li>
                            <li><a href="Alimentos.html">Alimentos</a></li>
                        </ul>
                    </li>
                    <li ><a href="contacto.html">Contactenos</a></li>
                    <li ><a href="acercaDe.html">¿Quienes somos?</a></li>
                    <li ><a href="/donacionesN">Donaciones</a></li>
                    <li ><a href="login.html">Login</a></li>
                </ul>
            </nav>
        </div>

        <div class="contact_form">
            <div class="formulario">      
                <h1>Iniciar sesion</h1>
                <form action="submeter-formulario.php" method="post">       

                    <p>
                        <label for="nombre" class="colocar_nombre">Usuario
                            <span class="obligatorio">*</span>
                        </label>
                        <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Ingresar Usuario">
                    </p>
                    <p>
                        <label for="contraseña" class="colocar_contraseña">Contraseña
                            <span class="obligatorio">*</span>
                        </label>
                        <input type="password" name="introducir_contraseña" id="contraseña" required="obligatorio" placeholder="Ingresar contraseña">
                    </p>

                    <button type="submit" name="Inicio" id="enviar"><p>Ingresar</p></button>

                    <p class="aviso">
                        <span class="obligatorio"> * </span>los campos son obligatorios.
                    </p>     
                    
                    <div class="">                     
                        <a th:href="@{/usuarioN}"">Crear nuevo Usuario</a>   
                    </div>
                </form>
            </div>  
        </div>
    </body>
</html>
