<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
  <head th:replace="plantilla/template::head"></head>


    <body>
        <header th:replace="plantilla/template::header"></header>


        <!--  Inicio formulario -->
        <div class="formulario">
            <form th:object="${Usuario}"
                  th:action="@{/save}"
                  method="POST"
                  >

                <input type="hidden" th:field="*{ID}">

                    <!-- Inicia Formulario para creacion de un nuevo usuario -->
                    <div class="contact_form">
                        <div class="formulario">      
                            <h1>Nuevo Usuario</h1>


                            <p>
                                <label for="nombre" class="colocar_nombre">Nombre
                                    <span class="obligatorio">*</span>
                                </label>
                                <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre" th:field="*{nombre}">
                            </p>

                            <p>
                                <label for="apellido1" class="colocar_apellido1">Apellido1
                                    <span class="obligatorio">*</span>
                                </label>
                                <input type="text" name="introducir_nombre" id="apellido1" required="obligatorio" placeholder="Primer Apellido" th:field="*{apellido1}">
                            </p>

                            <p>
                                <label for="apellido2" class="colocar_apellido1">Apellido2
                                    <span class="obligatorio">*</span>
                                </label>
                                <input type="text" name="introducir_nombre" id="apellido2" required="obligatorio" placeholder="Segundo Apellido" th:field="*{apellido2}">
                            </p>

                            <p>
                                <label for="telefono" class="colocar_telefono">Telefono
                                </label>
                                <input type="tel" name="introducir_telefono" id="telefono" placeholder="Escribe tu telefono" th:field="*{telefono}">
                            </p>  

                            <p>
                                <label for="email" class="colocar_email">Email
                                    <span class="obligatorio">*</span>
                                </label>
                                <input type="email" name="introducir_email" id="email" required="obligatorio" placeholder="Escribe tu Email" th:field="*{email}">
                            </p>


                            <p>
                                <label for="Usuario" class="colocar_email">Usuario
                                    <span class="obligatorio">*</span>
                                </label>
                                <input type="text" name="Usuario" id="email" required="obligatorio" placeholder="Escribe tu Usuario" th:field="*{username}">
                            </p>



                            <p>
                                <label for="contraseña" class="colocar_contraseña">Contrasena
                                    <span class="obligatorio">*</span>
                                </label>
                                <input type="password" name="introducir_contraseña" id="contraseña" required="obligatorio" placeholder="Ingresar contrasena" th:field="*{password}">
                            </p>

                            <!-- <button type="submit" name="Inicio" id="enviar"><p>Guardar usuario.</p></button> -->
                            <button type="submit" class="btn btn-primary btn-lg">Guardar</button>

                            <p class="aviso">
                                <span class="obligatorio"> * </span>los campos son obligatorios.
                            </p>          
                            </form>
                        </div>  
                    </div>
                    </div>
                    <!-- fin formulario -->
                    <!--    <footer  class="footer">
                            <div class="text-center p-3 border-top border-black bg-black text-black">
                                © 2022 Copyright: Desarrollo 
                                <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                                   th:href="${urlBuilder.replaceQueryParam('lang','es').toUriString()}">ES</a>  
                                <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}"
                                   th:href="${urlBuilder.replaceQueryParam('lang','en').toUriString()}">EN</a>
                            </div>
    
    
                        </footer>-->
                    <footer th:replace="plantilla/template::footer">  
                    </footer>
                    </body>
                    </html>
