<!DOCTYPE html>
<html>
    <head>
        <title>Adopcion de Mascotas</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="css/index.css"/>
    </head>
    <body>
        <div class="container">
            <a class=" title"><h1><img src="images/logopata.png" width="50px" height="50px"></span>Peludos</h1></a>
            <!--<h1>Peludos</h1>-->

            <nav>

                <ul class="menu">

                    <li ><a href="index.html">Inicio</a></li>
                    <li ><a href="#">Animales en adopcion</a>
                        <ul class="submenu">
                            <li><a href="perros.html">Perros</a></li>
                            <li><a href="gatos.html">Gatos</a></li>
                        </ul>
                    </li>
                    <li ><a href="#">Servicios</a>
                        <ul class="submenu">
                            <li><a href="consejos.html">Consejos</a></li>
                            <li><a href="Alimentos.html">Alimentos</a></li>
                        </ul>
                    </li>
                    <li ><a href="contacto.html">Contactenos</a></li>
                    <li ><a href="acercaDe.html">¿Quienes somos?</a></li>
                    <li ><a href="/donacionesN">Donaciones</a></li>
                    <li ><a href="login.html">Login</a></li>
                </ul>
            </nav>
        </div>
        <!-- Inicia Formulario para creacion de un nuevo usuario -->
        <div class="contact_form">
            <div class="formulario">      
                <h1>Nuevo Usuario</h1>
                <form action="submeter-formulario.php" method="post">       

                    <p>
                        <label for="Nombre" class="colocar_nombre">Nombre
                            <span class="obligatorio">*</span>
                        </label>
                        <input type="text" name="introducir_nombre" id="Nombre" required="obligatorio" placeholder="Escribe tu nombre">
                    </p>

                    <p>
                        <label for="Apellido1" class="colocar_apellido1">Apellido1
                            <span class="obligatorio">*</span>
                        </label>
                        <input type="text" name="introducir_nombre" id="Apellido1" required="obligatorio" placeholder="Primer Apellido">
                    </p>

                    <p>
                        <label for="Apellido2" class="colocar_apellido1">Apellido2
                            <span class="obligatorio">*</span>
                        </label>
                        <input type="text" name="introducir_nombre" id="Apellido2" required="obligatorio" placeholder="Segundo Apellido">
                    </p>


                    <p>
                        <label for="UserName" class="colocar_apellido1">Apellido2
                            <span class="obligatorio">*</span>
                        </label>
                        <input type="text" name="introducir_UserName" id="UserName" required="obligatorio" placeholder="Username">
                    </p>

                    <p>
                        <label for="Telefono" class="colocar_telefono">Teléfono
                        </label>
                        <input type="tel" name="introducir_telefono" id="Telefono" placeholder="Escribe tu teléfono">
                    </p>  

                    <p>
                        <label for="Email" class="colocar_email">Email
                            <span class="obligatorio">*</span>
                        </label>
                        <input type="email" name="introducir_email" id="Email" required="obligatorio" placeholder="Escribe tu Email">
                    </p>


                    <p>
                        <label for="Contraseña" class="colocar_contraseña">Contraseña
                            <span class="obligatorio">*</span>
                        </label>
                        <input type="password" name="introducir_contraseña" id="Contraseña" required="obligatorio" placeholder="Ingresar contraseña">
                    </p>

                    <button type="submit" name="Inicio" id="enviar"><p>Guardar usuario.</p></button>

                    <p class="aviso">
                        <span class="obligatorio"> * </span>los campos son obligatorios.
                    </p>          
                </form>
            </div>  
        </div>
        <!-- fin formulario -->
    </body>
</html>