<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Adopcion de Mascotas</title>
        <link rel="stylesheet" href="css/index.css"/>
    </head>
    <body>
        <header th:replace="plantilla/plantilla::header"></header>


        <div class="container">
            <!--  Inicio formulario -->
            <form th:object="${usuario}"
                  th:action="@{/save}"
                  method="POST"
                  >

                <input type="hidden" th:field="*{id}">

                <!-- Inicia Formulario para creacion de un nuevo usuario -->
                <div class="contact_form">
                    <div class="formulario">      
                        <h1>Nuevo Usuario</h1>
                        <form action="submeter-formulario.php" method="post">       

                            <p>
                                <label for="nombre" class="colocar_nombre">Nombre
                                    <span class="obligatorio">*</span>
                                </label>
                                <input type="text" name="introducir_nombre" id="nombre" required="obligatorio" placeholder="Escribe tu nombre" th:field="*{nombre}">
                            </p>

                            <p>
                                <label for="apellido1" class="colocar_apellido1">Apellido1
                                    <span class="obligatorio">*</span>
                                </label>
                                <input type="text" name="introducir_nombre" id="apellido1" required="obligatorio" placeholder="Primer Apellido" th:field="*{apellido1}">
                            </p>

                            <p>
                                <label for="apellido2" class="colocar_apellido1">Apellido2
                                    <span class="obligatorio">*</span>
                                </label>
                                <input type="text" name="introducir_nombre" id="apellido2" required="obligatorio" placeholder="Segundo Apellido" th:field="*{apellido2}">
                            </p>

                            <p>
                                <label for="telefono" class="colocar_telefono">Teléfono
                                </label>
                                <input type="tel" name="introducir_telefono" id="telefono" placeholder="Escribe tu teléfono" th:field="*{telefono}">
                            </p>  

                            <p>
                                <label for="email" class="colocar_email">Email
                                    <span class="obligatorio">*</span>
                                </label>
                                <input type="email" name="introducir_email" id="email" required="obligatorio" placeholder="Escribe tu Email" th:field="*{email}">
                            </p>


                            <p>
                                <label for="contraseña" class="colocar_contraseña">Contraseña
                                    <span class="obligatorio">*</span>
                                </label>
                                <input type="password" name="introducir_contraseña" id="contraseña" required="obligatorio" placeholder="Ingresar contraseña" th:field="*{contrasena}">
                            </p>

                            <button type="submit" name="Inicio" id="enviar"><p>Guardar usuario.</p></button>

                            <p class="aviso">
                                <span class="obligatorio"> * </span>los campos son obligatorios.
                            </p>          
                        </form>
                    </div>  
                </div>
        </div>
        <!-- fin formulario -->
         <footer th:replace="plantilla/plantilla::footer"></footer>
    </body>
</html>